<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Latest compiled and minified CSS -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>The City of Weslaco</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link href="stylesheets/style.css" rel="stylesheet">
    <link href="stylesheets/navstyle.css" rel="stylesheet">
    <!-- external JS -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>

<body>

<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	    <span class="sr-only">Toggle navigation</span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">W</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <!-- Residents below -->
	        <li class="dropdown">
	            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Residents <b class="caret"></b></a>
	            <ul class="dropdown-menu multi-column columns-2">
		            <div class="row">
			            <div class="col-sm-6">
				            <ul class="multi-column-dropdown">
                      <!-- Left column of dropdown menu -->
					            <li><a href="#">Public Works / Utilities</a></li>
                      <li><a href="#">Pay Bill</a></li>
					            <li><a href="#">Transportation</a></li>
					            <li><a href="#">Public Safety</a></li>
					            <li><a href="#">Emergency</a></li>
					            <li><a href="#">Health</a></li>
				            </ul>
			            </div>
			            <div class="col-sm-6">
				            <ul class="multi-column-dropdown">
                      <!-- Right column of dropdown menu -->
					            <li><a href="#">New Residents</a></li>
					            <li><a href="#">Social Services</a></li>
                      <li><a href="#">Health</a></li>
					            <li><a href="#">Seniors</a></li>
					            <li><a href="#">Parks &amp; Recreation</a></li>
                      <li class="divider"></li>
                      <li><a href="#">View More</a></li>
				            </ul>
			            </div>
		            </div>
	            </ul>
	        </li>
          <!-- Business below -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Business <b class="caret"></b></a>
            <ul class="dropdown-menu multi-column columns-2">
              <div class="row">
                <div class="col-sm-6">
                  <ul class="multi-column-dropdown">
                    <!-- Left column of dropdown menu -->
                    <li><a href="http://www.ci.independence.mo.us/UserDocs/EconDev/starting-a-business.pdf">Starting a Business</a></li>
                    <li><a href="#">Demographics</a></li>
                    <li><a href="#">Permits &amp; Licensing</a></li>

                  </ul>
                </div>
                <div class="col-sm-6">
                  <ul class="multi-column-dropdown">
                    <!-- Right column of dropdown menu -->
                    <li><a href="#">Business Tax Center</a></li>
                    <li><a href="#">Building &amp; Zoning</a></li>
                    <li class="divider"></li>
                    <li><a href="#">View More</a></li>
                  </ul>
                </div>
              </div>
            </ul>
          </li>
          <!-- Business above -->
          <!-- Government below -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Government <b class="caret"></b></a>
            <ul class="dropdown-menu multi-column columns-2">
              <div class="row">
                <div class="col-sm-6">
                  <ul class="multi-column-dropdown">
                    <!-- Left column of dropdown menu -->
                    <li><a href="#">Officials</a></li>
                    <li><a href="#">Council</a></li>
                    <li><a href="#">2017 Budget</a></li>
                    <li><a href="#">Agencies</a></li>
                    <li><a href="#">Meetings</a></li>
                  </ul>
                </div>
                <div class="col-sm-6">
                  <ul class="multi-column-dropdown">
                    <!-- Right column of dropdown menu -->
                    <li><a href="#">Laws &amp; Courts</a></li>
                    <li><a href="#">Documents &amp; Resources</a></li>
                    <li><a href="#">Tickets &amp; Fines</a></li>
                    <li><a href="#">Offices</a></li>
                    <li class="divider"></li>
                    <li><a href="#">View More</a></li>
                  </ul>
                </div>
              </div>
            </ul>
          </li>
          <!-- Government above -->
          <!-- Visitors below -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Visitors <b class="caret"></b></a>
              <ul class="dropdown-menu multi-column columns-2">
                <div class="row">
                  <div class="col-sm-6">
                    <ul class="multi-column-dropdown">
                      <!-- Left column of dropdown menu -->
                      <li><a href="#">History</a></li>
                      <li><a href="#">Attractions</a></li>
                      <li><a href="#">Arts &amp; Culture</a></li>
                    </ul>
                  </div>
                <div class="col-sm-6">
                  <ul class="multi-column-dropdown">
                    <!-- Right column of dropdown menu -->
                    <li><a href="#">Sports, Parks, &amp; Recreation</a></li>
                    <li><a href="#">Getting Around</a></li>
                    <li class="divider"></li>
                    <li><a href="#">View More</a></li>
                  </ul>
                </div>
              </div>
            </ul>
          </li>
          <!-- Visitors above -->
          <!-- Jobs below -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Jobs <b class="caret"></b></a>
              <ul class="dropdown-menu multi-column columns-2">
                <div class="row">
                  <div class="col-sm-6">
                    <ul class="multi-column-dropdown">
                      <!-- Left column of dropdown menu -->
                      <li><a href="#">All Jobs</a></li>
                      <li><a href="#">Government Jobs</a></li>
                      <li><a href="#">Resources</a></li>
                    </ul>
                  </div>
                <div class="col-sm-6">
                  <ul class="multi-column-dropdown">
                    <!-- Right column of dropdown menu -->
                    <li><a href="#">Training &amp; Certifications</a></li>
                    <li><a href="#">Unemployment Compensation</a></li>
                    <li class="divider"></li>
                    <li><a href="#">View More</a></li>
                  </ul>
                </div>
              </div>
            </ul>
          </li>
          <!-- Jobs above -->
          <!-- Utlilties below -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Utlilties <b class="caret"></b></a>
              <ul class="dropdown-menu multi-column columns-2">
                <div class="row">
                  <div class="col-sm-6">
                    <ul class="multi-column-dropdown">
                      <!-- Left column of dropdown menu -->
                      <li><a href="#">Pay Online</a></li>
                      <li><a href="#">My Account</a></li>
                      <li><a href="#">New Service</a></li>
                      <li><a href="#">Transfer Service</a></li>
                      <li><a href="#">Customer Service</a></li>
                    </ul>
                  </div>
                <div class="col-sm-6">
                  <ul class="multi-column-dropdown">
                    <!-- Right column of dropdown menu -->
                    <li><a href="#">Water</a></li>
                    <li><a href="#">Solid Waste</a></li>
                    <li><a href="#">Recycling</a></li>
                    <li class="divider"></li>
                    <li><a href="#">View More</a></li>
                  </ul>
                </div>
              </div>
            </ul>
          </li>
          <!-- Utlilties above -->
        </ul>
    </div>
    <!--/.navbar-collapse-->
</nav>
<!--/.navbar-->
